<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>983288844672-7m1p7mlgvsptm4taksleghdv2fvfqbfr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.983288844672-7m1p7mlgvsptm4taksleghdv2fvfqbfr</string>
	<key>API_KEY</key>
	<string>AIzaSyD_dyezX6R1ChUoz7Ovxfw1dneCzKaTZhM</string>
	<key>GCM_SENDER_ID</key>
	<string>983288844672</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.optimus</string>
	<key>PROJECT_ID</key>
	<string>optimus-8fb4f</string>
	<key>STORAGE_BUCKET</key>
	<string>optimus-8fb4f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:983288844672:ios:d267b3bb20bd8fe546b165</string>
	<key>DATABASE_URL</key>
	<string>https://optimus-8fb4f.firebaseio.com</string>
</dict>
</plist>